extends ../layout
block content
  h1 Add new book
  if errors
    each error in errors
      .alert.alert-danger= error
  form(action='/books/add', method='POST')
    div.mb-2
      label Title
      input.form-control(name='title' value=values ? values.title : '')
    div.mb-2
      label Description
      textarea.form-control(rows='10', cols='50' name='description') #{values ? values.description : ''}
    button.btn.btn-primary(type='submit') Add