h1 Edit book
form(action='/books/'+ book.id + '/edit', method='POST')
  div
    | Title: 
    input(name='title' style="width: 330px" value=book.title)
  br
  div
    p Description: 
    textarea(rows='10', cols='50' name='description') #{book.description}
  br
  button(type='subtmit') Save
  
p
  a(href='/books') Back to Books