extends ../layout
block content
  h1 Books
  form.form-inline(action='/books', method='GET')
    input.form-control.mr-sm-2(name='q', placeholder="Enter book's name")
    button.btn.btn-primary(type='submit') Search
  p
    a.btn.btn-primary(href='/books/add') Add new
  table.table.table-bordered
    thead
      tr
        th Title
        th Actions
    tbody
      each book in books
        tr
          td #{book.title}
          td(class="actions")
            a.btn.btn-primary(href='/books/' + book.id + '/view') View
            a.btn.btn-warning(href='/books/' + book.id + '/edit') Edit
            a.btn.btn-danger(href='/books/' + book.id + '/delete') Delete