html
  head
    link(rel='shortcut icon', href='https://cdn.glitch.com/ab954107-2ac2-49a2-9682-ac89d54cd529%2Ffavicon.png?v=1587556003921')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/custom.css')
  body
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
      a.navbar-brand(href='/books') Book Management
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/books') Books
              span.sr-only (current)
          if userMain && userMain.isAdmin
            li.nav-item.active
              a.nav-link(href='/users') Users
          if userMain
            li.nav-item.active
              a.nav-link(href='/transactions') Transactions
            li.nav-item.active
              a.nav-link(href='/profile') Profile
          else
            li.nav-item.active
              a.nav-link(href='/auth/login') Login
        span.navbar-text.mr-2 
          a(href='/cart') Cart (#{countCart})
        if userMain
          span.navbar-text.mr-2 Hi #{userMain.name}

    .container.mt-3
      block content
    
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    script(src="/js/main.js")
