extends ../layout
block content
  h1 Cart
  table.table.table-bordered
    thead
      tr
        th Cover
        th Title
        th Actions
    tbody
      each item in cart
        tr
          td
            img(src=item.book.coverUrl, style="width: 60px")
          td.book-title #{item.book.title}
          td(class="actions")
            .btn-group.mr-2(role='group', aria-label='First group')
              a.btn.btn-secondary.mr-0(href='/cart/decrease/' + item.book.id) -
              form.form-number(action='/cart/number/' + item.book.id, method='GET')
                input.form-control.cart-num(name='number' type='number' value=item.quantity)
              a.btn.btn-secondary(href='/cart/increase/' + item.book.id) +
            a.btn.btn-danger(href='/cart/delete/' + item.book.id ) Delete
      tr
        td
        td
        td
          if countCart
            a.btn.btn-success(href='/cart/transaction') Make Transaction