extends ../layout
block content
  h1 Add User
  form(action='/users/add', method='POST')
    div
      | Name: 
      input(name='name' style="width: 330px;")
    br
    div
      | Phone: 
      input(name='phone' style="width: 330px;")
    br
    button(type='submit') Save