h1 Add User
form(action='/users/add', method='POST')
  div
    | Name: 
    input(name='name' style="width: 330px")
  br
  div
    | Name: 
    input(name='phone' style="width: 330px")
  br
  button(type='subtmit') Save
  
p
  a(href='/users') Back to Users  
p
  a(href='/books') Back to Books