extends ../layout
block content
  h1 Users
  form(action='/users', method='GET')
    input(name='q', placeholder="Enter user's name")
    button(type='submit') Search
  p
    a(href='/users/add') Add new
  table
    thead
      tr
        th Name
        th Actions
    tbody
      each user in users
        tr
          td #{user.name}
          td(class="actions")
            a(href='/users/' + user.id + '/view') View
            span 
            a(href='/users/' + user.id + '/edit') Edit
            span 
            a(href='/users/' + user.id + '/delete') Delete