extends ../layout
block content
  h1 Transactions
  form(action='/transactions', method='GET')
    input(name='q', placeholder="Enter transaction id")
    button(type='submit') Search
  p
    a(href='/transactions/create') Add new
  table(style="width: 100%; border-collapse: collapse; border: 1px solid black;")
    thead
      tr
        th(style="border: 1px solid black;") ID
        th(style="border: 1px solid black;") User
        th(style="border: 1px solid black;") NumBooks
        th(style="border: 1px solid black;") Actions
    tbody
      each transaction in transactions
        tr
          td(style="border: 1px solid black;") #{transaction.id}
          td(style="border: 1px solid black;") #{transaction.user}
          td(style="border: 1px solid black;") #{transaction.books.length}
          td(style="border: 1px solid black;display: flex; justify-content: space-around;")
            a(href='/transactions/' + transaction.id + '/view') View
            span 
            a(href='/transactions/' + transaction.id + '/edit') Edit
            span 
            a(href='/transactions/' + transaction.id + '/delete') Delete