extends ../layout
block content
  h1 Transactions
  form.form-inline(action='/transactions', method='GET')
    input.form-control.mr-sm-2(name='q', placeholder="Enter transaction id")
    button.btn.btn-primary(type='submit') Search
  p
    a.btn.btn-primary(href='/transactions/create') Add new
  table.table.table-bordered
    thead
      tr
        th ID
        th User
        th Books
        th Finish
        th Actions
    tbody
      each transaction in transactions
        tr
          td #{transaction.id}
          td #{transaction.user}
          td #{transaction.books.length}
          td
            if transaction.isComplete
              a.btn.btn-success(href='/transactions/' + transaction.id + '/complete') Yes
            else
              a(href='/transactions/' + transaction.id + '/complete') No
          td(class="actions")
            a.btn.btn-primary(href='/transactions/' + transaction.id + '/view') View
            a.btn.btn-warning(href='/transactions/' + transaction.id + '/edit') Edit
            a.btn.btn-danger(href='/transactions/' + transaction.id + '/delete') Delete